<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssw.blog.mapper.BlogMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ssw.blog.pojo.Blog">
        <id column="blog_id" property="blogId"/>
        <result column="blog_title" property="blogTitle"/>
        <result column="blog_image" property="blogImage"/>
        <result column="blog_content" property="blogContent"/>
        <result column="created_time" property="createdTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <!-- vo查询映射结果 -->
    <resultMap id="VoResultMap" type="com.ssw.blog.vo.BlogVo">
        <id column="blog_id" property="blogId"/>
        <result column="blog_title" property="blogTitle"/>
        <result column="blog_image" property="blogImage"/>
        <result column="blog_content" property="blogContent"/>
        <result column="blog_month" property="blogMonth"/>
        <result column="created_time" property="createdTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="type_name" property="typeName"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        blog_id, blog_title,blog_image, blog_content, created_time, update_time
    </sql>
    <insert id="save" parameterType="com.ssw.blog.pojo.Blog">
        insert  into bl_blog (blog_id,blog_title, blog_image,blog_content)
        values (#{blogId},#{blogTitle},#{blogImage},#{blogContent})

    </insert>
    <insert id="saveBlogTypes">
        insert into bl_type_blog (blog_id, type_id)
        values
        <foreach collection="typeIds" item="typeId" separator=",">
            (#{blogId}, #{typeId})
        </foreach>
    </insert>
    <update id="update" parameterType="com.ssw.blog.pojo.Blog">
        update bl_blog
        <set>
            <if test="blogTitle!=null  and blogTitle!=''">
                blog_title=#{blogTitle},
            </if>
            <if test="blogImage!=null  and blogImage!=''">
                blog_image=#{blogImage},
            </if>
            <if test="blogContent!=null  and blogContent!=''">
                blog_content=#{blogContent},
            </if>
        </set>
        where blog_id=#{blogId}
    </update>
    <delete id="deleteBlogTypes">
        delete from bl_type_blog where blog_id=#{blogId}
    </delete>
    <delete id="deleteById">
        delete from bl_blog where blog_id=#{id}
    </delete>
    <select id="getById" resultMap="BaseResultMap">
        select  blog_id, blog_title,blog_image, blog_content, created_time

        from bl_blog where blog_id=#{id};
    </select>
    <select id="getTypesByBlogId" resultMap="com.ssw.blog.mapper.TypeMapper.BaseResultMap">
        select t.type_id, t.type_name
        from bl_type t
        inner join bl_type_blog bt on t.type_id = bt.type_id
        where bt.blog_id = #{blogId}
        order by t.type_id
    </select>
    <select id="getTypeIdsByBlogId" resultType="java.lang.Integer">
        select type_id
        from bl_type_blog
        where blog_id = #{blogId}
        order by type_id
    </select>
    <select id="getByPage" parameterType="com.ssw.blog.utils.Page" resultMap="VoResultMap">
        select b.blog_id, b.blog_title, b.blog_image,
        b.created_time, b.update_time
        from bl_blog as b
        where 1=1
        <if test="params.blogTitle!=null and params.blogTitle!=''">
            and b.blog_title like CONCAT('%',#{params.blogTitle},'%')
        </if>
        <if test="params.typeId!=null and params.typeId!=''">
            and exists (
                select 1 from bl_type_blog filter_bt
                where filter_bt.blog_id=b.blog_id and filter_bt.type_id=#{params.typeId}
            )
        </if>
        <if test="sortColumn!=null and sortColumn!=''">
            order by ${sortColumn} ${sortMethod}
        </if>
        limit #{index},#{pageSize}
    </select>
    <select id="getCountByPage" resultType="java.lang.Integer">
        select count(*)
        from bl_blog as b
        where 1=1
        <if test="params.blogTitle!=null and params.blogTitle!=''">
            and b.blog_title like CONCAT('%',#{params.blogTitle},'%')
        </if>
        <if test="params.typeId!=null and params.typeId!=''">
            and exists (
                select 1 from bl_type_blog filter_bt
                where filter_bt.blog_id=b.blog_id and filter_bt.type_id=#{params.typeId}
            )
        </if>
    </select>
    <select id="getTimeLine" resultMap="VoResultMap">
        select blog_id, blog_title,
        created_time,
        date_format(created_time,'%Y-%m') as blog_month
        from bl_blog
        order  by  created_time desc
    </select>
</mapper>
